#navbar-color{
    background-color:#920024;
}

.navbar-nav{
    margin: auto;
    text-align: center;
    align-items: center;
}

.nav-link{
    margin-left: 40px;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
    font-family: var(--font-poppins);
    padding: 15px;
}

.navbar {
    width: 100%;
    position: fixed;
  }

.nav-link a{
    font-family: var(--font-share-tech);
    font-size: 70px;
}

.a {
    font-family: var(--font-share-tech);
}

.nav-link:hover{
    color: white !important;
    text-decoration: underline solid 2px white;
}

.login {
    position: fixed;
    margin-left: 1050px ;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    margin-top: 28px;
}

.cartImg {
    padding: 0 20px;
}

.text {
    color: white;
    height: 80px;
}

.section {
    display: flex;
    flex-direction: row;
    padding: 150px 0;
    justify-content: center;
}

.image {
    margin-left: 90px;
    padding: 0 40px;
}

.textInfo {
    display: flex;
    flex-direction: column;
    padding:0 10px;
    justify-content: space-evenly;
}

.arrivalline {
    border-top: 2px solid var(--color-gray-100);
    width: 450px;
}

.productimg {
    width: 300px;
    height: 300px;
}

.btn {
    border: none;
    padding: 10px 25px;
    color: white;
    border-radius: 8px;
    font-family: var(--font-poppins);
}

.subBtn {
    width: 170px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.fav {
    border: none;
    background-color: var(--color-brown);
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.heart {
    width: 15px;
    height: 15px;
}

.price {
    background-color: var(--color-gray-100);
}

.cart {
    background-color: var(--color-brown);
}

p {
    font-family: var(--font-poppins);
}

.productTitle {
    font-size: 48px;
    width: 500px;
    line-height: 50px;
    font-weight: 700;
    color: var(--color-brown);
}

.productCaption {
    width: 450px;
    color: var(--color-gray-200);
}

.subpage6 {
    min-height: 25vh;
    display: flex;
    background-color: var(--color-brown);
}

.container2 {
    max-width: 1160px;
    width: 100%;
    padding: 30px 0;
}

.contact {
    margin: 10px 120px;
    display: flex;
    padding: 2px 0;
    flex-direction: row;
    justify-content: space-between;
}
  
.contactCard {
    border-radius: 10px;
    height:fit-content;
    width: fit-content;
    background-color:transparent;
    text-align: center;
    margin: 0;
}
  
.contactUs, .contactText {
    font-size: 18px;
    color: white;
    text-align: left;
    width: fit-content;
}
  
.contactUs {
    font-weight: 700;
}
  
.sosmed {
    display: flex;
    flex-direction: row;
}
  
.sosmedlogo {
    width: 40px;
    justify-content: space-between;
    padding-top: 5px;
    padding-right: 8px;
}
