*{
    margin: 0;
    padding: 0;
}

.login {
  position: fixed;
  margin-left: 1050px ;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}

.navbar {
  width: 100%;
  position: fixed;
}

.cartImg {
  padding: 0 20px;
}

.text {
  color: white;
  height: 88px;
}

#navbar-color{
  background-color:#920024;
}

.navbar-nav{
  margin: auto;
  text-align: center;
  align-items: center;
  height: 52px;
}

.nav-link{
  margin-left: 40px;
  color: white;
  transition: 0.5s ease;
  cursor: pointer;
  font-family: var(--font-poppins);
  padding: 15px;
}

.nav-link a {
  font-family: var(--font-share-tech);
  font-size: 70px;
}

.a {
  font-family: var(--font-share-tech);
  line-height: 18px;
}

.nav-link:hover{
  color: white !important;
  text-decoration: underline solid 2px white;
}

.container h3{
  color: #920024;
  font-weight: 700;
  font-family: var(--font-poppins);
  font-size: 50px;
}

.subpage4 {
    min-height: 90vh;
    margin: 0 70px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: white;
  }

.space {
  padding: 50px;
}

.subpage5{
  min-height: 90vh;
  margin: 0 70px;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: white;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card2 {
  padding: 25px;
}

.column {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  justify-content: space-between;
}

.arrival {
  display: flex;
  flex-direction: row;
  width: 540px;
  height: 250px;
  background-color: white;
  box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  text-align: left;
  align-items: center;
  padding: 0;
}
  
.container2 {
  max-width: 1160px;
  width: 100%;
  padding: 22px 0;
}

.arrivalline {
  border-top: 0.5px solid var(--color-gray-100);
  width: 250px;
}

.arrItem1 {
  width:260px;
  height: 220px;
  padding: 20px 40px;
  align-items: center;
  cursor: pointer;
}

.arrivalname {
  font-size: 20px;
  font-weight: 700;
  width: 180px;
  line-height: 24px;
}

.arrivalcontent {
  padding: 10px 0;
}

.arrivaltext {
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
  color: rgba(30, 30, 30, 0.50);
  width: 250px;
}

.viewmore {
  padding: 8px 20px;
  font-size: 12px;
  border: none;
  width: fit-content;
  font-family: var(--font-poppins);
  border-radius: 6px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--color-brown);
  color: #fcf9f9;
  cursor: pointer;
  transition: all 0.5s ease ;
  background: #920024;
}

.viewmore:hover {
  background: #5d0319;
}

p {
  font-family: var(--font-poppins);
}

.container{
	max-width: 1170px;
	margin:auto;
  padding: 7px;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.subpage6 {
  min-height: 30vh;
  display: flex;
  background-color: var(--color-brown);
}

.contact {
  margin: 10px 120px;
  display: flex;
  padding: 10px 0;
  flex-direction: row;
  justify-content: space-between;
}

.contactCard {
  border-radius: 10px;
  height:fit-content;
  width: fit-content;
  background-color:transparent;
  text-align: center;
  margin: 0;
}

.contactUs, .contactText {
  font-size: 18px;
  color: white;
  text-align: left;
  width: fit-content;
}

.contactUs {
  font-weight: 700;
}

.sosmed {
  display: flex;
  flex-direction: row;
}

.sosmedlogo {
  width: 40px;
  justify-content: space-between;
  padding-top: 5px;
  padding-right: 8px;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px){
  .footer-col{
    width: 100%;
  }
}




